html,
body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
body,
td,
th {
    color: #2c3e50;
    font-size: 14px;
}
.container {
    height: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
}
